# Clean and Setup

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv(r'C:\Users\Ted\Documents\Mod9\data_main.csv')

In [4]:
orig_shape = df.shape
orig_shape

(1994, 16)

In [5]:
# change year and month to type int
months = {"Jan": 1, "Feb": 2, "Mar": 3, "Apr": 4, "May": 5, "Jun":6, "Jul":7, "Aug":8, "Sep":9, "Oct":10, "Nov":11, "Dec":12}
df['Month'].replace(months, inplace=True)
df["Month"] = df["Month"].astype(int)

In [6]:
# df.drop('Index', axis=1, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1994 entries, 0 to 1993
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Index                   1994 non-null   int64
 1   Title                   1991 non-null   object
 2   Artist                  1986 non-null   object
 3   Top Genre               1986 non-null   object
 4   Year                    1987 non-null   float64
 5   Month                   1994 non-null   int32
 6   Beats Per Minute (BPM)  1985 non-null   float64
 7   Energy                  1986 non-null   float64
 8   Danceability            970 non-null    float64
 9   Loudness (dB)           1987 non-null   float64
 10  Liveness                1986 non-null   float64
 11  Valence                 960 non-null    float64
 12  Length (Duration)       1985 non-null   object
 13  Acousticness            1986 non-null   float64
 14  Speechiness             1990 non-null   float64
 15  Popularity              1987 non-null   float64
dtypes: float64(10), int32(1), int64(1), object(4)
memory usage: 241.6+ KB

In [7]:
# remove rows and columns with more than half values filled with nulls/NaN
df.dropna(thresh=orig_shape[1]/2, inplace=True)
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1987 entries, 0 to 1993
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Index                   1987 non-null   int64
 1   Title                   1987 non-null   object
 2   Artist                  1984 non-null   object
 3   Top Genre               1983 non-null   object
 4   Year                    1984 non-null   float64
 5   Month                   1987 non-null   int32
 6   Beats Per Minute (BPM)  1983 non-null   float64
 7   Energy                  1983 non-null   float64
 8   Danceability            970 non-null    float64
 9   Loudness (dB)           1983 non-null   float64
 10  Liveness                1983 non-null   float64
 11  Valence                 960 non-null    float64
 12  Length (Duration)       1982 non-null   object
 13  Acousticness            1984 non-null   float64
 14  Speechiness             1986 non-null   float64
 15  Popularity              1985 non-null   float64
dtypes: float64(10), int32(1), int64(1), object(4)
memory usage: 256.1+ KB
None

In [8]:
df.dropna(thresh=orig_shape[0]/2, axis=1, inplace=True)
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1987 entries, 0 to 1993
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Index                   1987 non-null   int64
 1   Title                   1987 non-null   object
 2   Artist                  1984 non-null   object
 3   Top Genre               1983 non-null   object
 4   Year                    1984 non-null   float64
 5   Month                   1987 non-null   int32
 6   Beats Per Minute (BPM)  1983 non-null   float64
 7   Energy                  1983 non-null   float64
 8   Loudness (dB)           1983 non-null   float64
 9   Liveness                1983 non-null   float64
 10  Length (Duration)       1982 non-null   object
 11  Acousticness            1984 non-null   float64
 12  Speechiness             1986 non-null   float64
 13  Popularity              1985 non-null   float64
dtypes: float64(8), int32(1), int64(1), object(4)
memory usage: 225.1+ KB
None

In [9]:
df.drop('Index', axis=1, inplace=True)
df.reset_index(drop=True, inplace=True)

In [10]:
# change Year to int32 after fixing bad values: 92 -> 1992, nan -> removed
df["Year"].replace(92,1992, inplace=True)
df["Year"].unique()

array([2004., 2000., 2001., 2007., 2002., 2006., 2003., 2005., 2009.,
       2008., 2010., 2011., 2012., 2013.,   nan, 2014., 2015., 2016.,
       2017., 2018., 2019., 1970., 1971., 1972., 1973., 1974., 1975.,
       1976., 1977., 1978., 1979., 1980., 1981., 1982., 1983., 1984.,
       1985., 1986., 1987., 1988., 1989., 1990., 1991., 1992., 1993.,
       1994., 1995., 1996., 1997., 1998., 1999., 1960., 1961., 1962.,
       1963., 1964., 1965., 1966., 1967., 1968., 1969., 1956., 1958.,
       1959.])

In [11]:
# remove commas from Length Duration and change to type int32
df["Length (Duration)"].replace(',','', regex=True, inplace=True)
df["Length (Duration)"] = pd.to_numeric(df["Length (Duration)"])
df["Length (Duration)"].describe()
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1987 entries, 0 to 1986
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Title                   1987 non-null   object
 1   Artist                  1984 non-null   object
 2   Top Genre               1983 non-null   object
 3   Year                    1984 non-null   float64
 4   Month                   1987 non-null   int32
 5   Beats Per Minute (BPM)  1983 non-null   float64
 6   Energy                  1983 non-null   float64
 7   Loudness (dB)           1983 non-null   float64
 8   Liveness                1983 non-null   float64
 9   Length (Duration)       1982 non-null   float64
 10  Acousticness            1984 non-null   float64
 11  Speechiness             1986 non-null   float64
 12  Popularity              1985 non-null   float64
dtypes: float64(9), int32(1), object(3)
memory usage: 194.2+ KB
None

In [12]:
df['Month'] = pd.to_numeric(df['Month'])

In [13]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1987 entries, 0 to 1986
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Title                   1987 non-null   object
 1   Artist                  1984 non-null   object
 2   Top Genre               1983 non-null   object
 3   Year                    1984 non-null   float64
 4   Month                   1987 non-null   int32
 5   Beats Per Minute (BPM)  1983 non-null   float64
 6   Energy                  1983 non-null   float64
 7   Loudness (dB)           1983 non-null   float64
 8   Liveness                1983 non-null   float64
 9   Length (Duration)       1982 non-null   float64
 10  Acousticness            1984 non-null   float64
 11  Speechiness             1986 non-null   float64
 12  Popularity              1985 non-null   float64
dtypes: float64(9), int32(1), object(3)
memory usage: 194.2+ KB
None

In [14]:
df.describe()

,Year,Month,Beats Per Minute (BPM),Energy,Loudness (dB),Liveness,Length (Duration),Acousticness,Speechiness,Popularity
count,1984.000000,1987.000000,1983.000000,1983.000000,1983.000000,1983.000000,1982.000000,1984.000000,1986.00000,1985.000000
mean,1992.986391,6.522899,120.234493,59.653555,-9.013616,19.019667,262.616549,28.916835,4.99144,59.511839
std,16.112981,3.419312,28.639923,22.170414,3.653139,16.750412,93.819708,29.028802,4.40705,14.366705
min,1956.000000,1.000000,15.000000,3.000000,-27.000000,2.000000,93.000000,0.000000,2.00000,11.000000
25%,1979.000000,4.000000,99.000000,42.000000,-11.000000,9.000000,212.000000,3.000000,3.00000,49.000000
50%,1993.000000,7.000000,119.000000,61.000000,-8.000000,12.000000,245.000000,18.000000,4.00000,62.000000
75%,2007.000000,9.000000,136.000000,78.000000,-6.000000,23.000000,290.000000,50.000000,5.00000,71.000000
max,2019.000000,12.000000,305.000000,100.000000,-2.000000,99.000000,1412.000000,99.000000,55.00000,100.000000

In [15]:
df["Year"].unique()

array([2004., 2000., 2001., 2007., 2002., 2006., 2003., 2005., 2009.,
       2008., 2010., 2011., 2012., 2013.,   nan, 2014., 2015., 2016.,
       2017., 2018., 2019., 1970., 1971., 1972., 1973., 1974., 1975.,
       1976., 1977., 1978., 1979., 1980., 1981., 1982., 1983., 1984.,
       1985., 1986., 1987., 1988., 1989., 1990., 1991., 1992., 1993.,
       1994., 1995., 1996., 1997., 1998., 1999., 1960., 1961., 1962.,
       1963., 1964., 1965., 1966., 1967., 1968., 1969., 1956., 1958.,
       1959.])

In [16]:
for col in df.describe().columns:
    col_mean = df[col].mean()
    col_std = df[col].std()
    
    print(col, 'outliers')
    
    for value in df[col]:
        if abs(value - col_mean) > 3 * col_std:
            print(f'{value}, Z-score: {(value - col_mean) / col_std}')
    print('\r')

Year outliers

Month outliers

Beats Per Minute (BPM) outliers
18.0, Z-score: -3.56964972788393
305.0, Z-score: 6.451326949501523
15.0, Z-score: -3.6743986130133948
297.0, Z-score: 6.171996589156284

Energy outliers

Loudness (dB) outliers
-21.0, Z-score: -3.2811190759399884
-20.0, Z-score: -3.007381891894004
-22.0, Z-score: -3.5548562599859723
-22.0, Z-score: -3.5548562599859723
-20.0, Z-score: -3.007381891894004
-20.0, Z-score: -3.007381891894004
-24.0, Z-score: -4.102330628077941
-20.0, Z-score: -3.007381891894004
-21.0, Z-score: -3.2811190759399884
-22.0, Z-score: -3.5548562599859723
-24.0, Z-score: -4.102330628077941
-27.0, Z-score: -4.923542180215892
-21.0, Z-score: -3.2811190759399884
-21.0, Z-score: -3.2811190759399884
-22.0, Z-score: -3.5548562599859723
-21.0, Z-score: -3.2811190759399884
-21.0, Z-score: -3.2811190759399884
-20.0, Z-score: -3.007381891894004
-21.0, Z-score: -3.2811190759399884
-22.0, Z-score: -3.5548562599859723
-22.0, Z-score: -3.5548562599859723
-21.0, Z-score: -3.2811190759399884

Liveness outliers
81.0, Z-score: 3.700227356386185
70.0, Z-score: 3.0435270925700326
93.0, Z-score: 4.416627644185624
79.0, Z-score: 3.580827308419612
70.0, Z-score: 3.0435270925700326
97.0, Z-score: 4.65542774011877
70.0, Z-score: 3.0435270925700326
83.0, Z-score: 3.819627404352758
72.0, Z-score: 3.1629271405366057
97.0, Z-score: 4.65542774011877
97.0, Z-score: 4.65542774011877
87.0, Z-score: 4.058427500285904
96.0, Z-score: 4.5957277161354835
71.0, Z-score: 3.103227116553319
99.0, Z-score: 4.774827788085344
92.0, Z-score: 4.356927620202337
78.0, Z-score: 3.521127284436325
95.0, Z-score: 4.536027692152197
71.0, Z-score: 3.103227116553319
90.0, Z-score: 4.237527572235764
81.0, Z-score: 3.700227356386185
95.0, Z-score: 4.536027692152197
87.0, Z-score: 4.058427500285904
91.0, Z-score: 4.2972275962190505
85.0, Z-score: 3.939027452319331
89.0, Z-score: 4.177827548252478
76.0, Z-score: 3.401727236469752
73.0, Z-score: 3.222627164519892
72.0, Z-score: 3.1629271405366057
85.0, Z-score: 3.939027452319331
73.0, Z-score: 3.222627164519892
86.0, Z-score: 3.998727476302618
76.0, Z-score: 3.401727236469752
73.0, Z-score: 3.222627164519892
82.0, Z-score: 3.7599273803694713
77.0, Z-score: 3.4614272604530387
97.0, Z-score: 4.65542774011877
85.0, Z-score: 3.939027452319331
99.0, Z-score: 4.774827788085344
78.0, Z-score: 3.521127284436325
98.0, Z-score: 4.715127764102057
96.0, Z-score: 4.5957277161354835
93.0, Z-score: 4.416627644185624
85.0, Z-score: 3.939027452319331
94.0, Z-score: 4.476327668168911
77.0, Z-score: 3.4614272604530387
91.0, Z-score: 4.2972275962190505
96.0, Z-score: 4.5957277161354835
84.0, Z-score: 3.879327428336045
97.0, Z-score: 4.65542774011877
76.0, Z-score: 3.401727236469752
73.0, Z-score: 3.222627164519892
92.0, Z-score: 4.356927620202337
80.0, Z-score: 3.640527332402898
76.0, Z-score: 3.401727236469752
83.0, Z-score: 3.819627404352758
76.0, Z-score: 3.401727236469752

Length (Duration) outliers
639.0, Z-score: 4.011773851897526
629.0, Z-score: 3.9051864384338306
602.0, Z-score: 3.6174004220818534
809.0, Z-score: 5.823759880780346
598.0, Z-score: 3.5747654566963756
598.0, Z-score: 3.5747654566963756
671.0, Z-score: 4.352853574981351
620.0, Z-score: 3.809257766316505
663.0, Z-score: 4.2675836442103945
1412.0, Z-score: 12.250980912641172
581.0, Z-score: 3.3935668538080934
1121.0, Z-score: 9.149287180847638
559.0, Z-score: 3.159074544187964
575.0, Z-score: 3.329614405729876
1367.0, Z-score: 11.771337552054542
811.0, Z-score: 5.845077363473085
576.0, Z-score: 3.3402731470762457
715.0, Z-score: 4.82183819422161
653.0, Z-score: 4.1609962307467
590.0, Z-score: 3.4894955259254195
966.0, Z-score: 7.497182272160362
859.0, Z-score: 6.356696948098823
659.0, Z-score: 4.224948678824917
564.0, Z-score: 3.2123682509198117
703.0, Z-score: 4.693933298065176
1292.0, Z-score: 10.971931951076828

Acousticness outliers

Speechiness outliers
25.0, Z-score: 4.540125084349399
26.0, Z-score: 4.767034222369831
30.0, Z-score: 5.674670774451559
23.0, Z-score: 4.086306808308535
24.0, Z-score: 4.313215946328967
19.0, Z-score: 3.178670256226807
24.0, Z-score: 4.313215946328967
20.0, Z-score: 3.405579394247239
39.0, Z-score: 7.716853016635447
23.0, Z-score: 4.086306808308535
20.0, Z-score: 3.405579394247239
19.0, Z-score: 3.178670256226807
32.0, Z-score: 6.128489050492423
19.0, Z-score: 3.178670256226807
24.0, Z-score: 4.313215946328967
44.0, Z-score: 8.851398706737607
30.0, Z-score: 5.674670774451559
24.0, Z-score: 4.313215946328967
25.0, Z-score: 4.540125084349399
31.0, Z-score: 5.901579912471991
20.0, Z-score: 3.405579394247239
46.0, Z-score: 9.305216982778472
38.0, Z-score: 7.489943878615015
55.0, Z-score: 11.34739922496236
22.0, Z-score: 3.859397670288103
23.0, Z-score: 4.086306808308535
32.0, Z-score: 6.128489050492423
36.0, Z-score: 7.036125602574151
19.0, Z-score: 3.178670256226807
31.0, Z-score: 5.901579912471991
26.0, Z-score: 4.767034222369831
28.0, Z-score: 5.220852498410695
30.0, Z-score: 5.674670774451559
20.0, Z-score: 3.405579394247239
30.0, Z-score: 5.674670774451559
29.0, Z-score: 5.447761636431127
31.0, Z-score: 5.901579912471991
19.0, Z-score: 3.178670256226807
27.0, Z-score: 4.993943360390263
32.0, Z-score: 6.128489050492423
39.0, Z-score: 7.716853016635447
41.0, Z-score: 8.17067129267631

Popularity outliers
16.0, Z-score: -3.0286582583293815
14.0, Z-score: -3.1678690268230616
15.0, Z-score: -3.0982636425762218
13.0, Z-score: -3.237474411069902
16.0, Z-score: -3.0286582583293815
16.0, Z-score: -3.0286582583293815
15.0, Z-score: -3.0982636425762218
12.0, Z-score: -3.3070797953167417
11.0, Z-score: -3.376685179563582

In [17]:
import numpy as np
from sklearn.impute import SimpleImputer

In [18]:
for col in df:
    print(f"{col} mising values: {df[col].isnull().sum()}")

Title mising values: 0
Artist mising values: 3
Top Genre mising values: 4
Year mising values: 3
Month mising values: 0
Beats Per Minute (BPM) mising values: 4
Energy mising values: 4
Loudness (dB) mising values: 4
Liveness mising values: 4
Length (Duration) mising values: 5
Acousticness mising values: 3
Speechiness mising values: 1
Popularity mising values: 2

In [19]:
continuous_columns = ['Beats Per Minute (BPM)','Energy','Loudness (dB)','Liveness','Length (Duration)','Acousticness','Speechiness','Popularity']

In [20]:
continuous_imputer = SimpleImputer(missing_values=np.nan, strategy='mean')

In [21]:
continuous_imputed_df = pd.DataFrame(continuous_imputer.fit_transform(df[continuous_columns]), columns= continuous_columns)
continuous_imputed_df

,Beats Per Minute (BPM),Energy,Loudness (dB),Liveness,Length (Duration),Acousticness,Speechiness,Popularity
0,157.0,30.0,-14.0,11.0,201.0,94.0,3.0,71.0
1,135.0,79.0,-11.0,17.0,207.0,17.0,7.0,39.0
2,168.0,69.0,-9.0,7.0,341.0,2.0,17.0,69.0
3,173.0,96.0,-4.0,3.0,269.0,0.0,4.0,76.0
4,106.0,82.0,-5.0,10.0,256.0,1.0,3.0,59.0
...,...,...,...,...,...,...,...,...
1982,94.0,21.0,-12.0,11.0,128.0,84.0,7.0,63.0
1983,175.0,76.0,-8.0,76.0,136.0,73.0,6.0,69.0
1984,168.0,80.0,-9.0,31.0,162.0,74.0,7.0,74.0
1985,174.0,26.0,-13.0,7.0,324.0,54.0,4.0,65.0
1986,133.0,50.0,-10.0,16.0,148.0,74.0,3.0,56.0

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1987 entries, 0 to 1986
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Title                   1987 non-null   object
 1   Artist                  1984 non-null   object
 2   Top Genre               1983 non-null   object
 3   Year                    1984 non-null   float64
 4   Month                   1987 non-null   int32
 5   Beats Per Minute (BPM)  1983 non-null   float64
 6   Energy                  1983 non-null   float64
 7   Loudness (dB)           1983 non-null   float64
 8   Liveness                1983 non-null   float64
 9   Length (Duration)       1982 non-null   float64
 10  Acousticness            1984 non-null   float64
 11  Speechiness             1986 non-null   float64
 12  Popularity              1985 non-null   float64
dtypes: float64(9), int32(1), object(3)
memory usage: 194.2+ KB

In [23]:
for col in continuous_columns:
    df[col] = continuous_imputed_df[col]
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1987 entries, 0 to 1986
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Title                   1987 non-null   object
 1   Artist                  1984 non-null   object
 2   Top Genre               1983 non-null   object
 3   Year                    1984 non-null   float64
 4   Month                   1987 non-null   int32
 5   Beats Per Minute (BPM)  1987 non-null   float64
 6   Energy                  1987 non-null   float64
 7   Loudness (dB)           1987 non-null   float64
 8   Liveness                1987 non-null   float64
 9   Length (Duration)       1987 non-null   float64
 10  Acousticness            1987 non-null   float64
 11  Speechiness             1987 non-null   float64
 12  Popularity              1987 non-null   float64
dtypes: float64(9), int32(1), object(3)
memory usage: 194.2+ KB

In [24]:
categorical_columns = ['Artist','Top Genre','Year']

In [25]:
categorical_imputer = SimpleImputer(missing_values=np.nan, strategy='most_frequent')

In [26]:
categorical_imputed_df = pd.DataFrame(categorical_imputer.fit_transform(df[categorical_columns]), columns=categorical_columns)
categorical_imputed_df

                        Artist            Top Genre    Year
0                  Norah Jones      adult standards  2004.0
1                  Deep Purple           album rock  2000.0
2                     Gorillaz  alternative hip hop  2001.0
3                 Foo Fighters    alternative metal  2007.0
4            Bruce Springsteen         classic rock  2002.0
...                        ...                  ...     ...
1982             Elvis Presley      adult standards  1958.0
1983             Elvis Presley      adult standards  1958.0
1984               Chuck Berry           blues rock  1959.0
1985  The Dave Brubeck Quartet                bebop  1959.0
1986               Fats Domino      adult standards  1959.0

[1987 rows x 3 columns]

In [27]:
for col in categorical_columns:
    df[col] = categorical_imputed_df[col]

In [28]:
for col in df:
    print(f"{col} missing values: {df[col].isnull().sum()}")

Title missing values: 0
Artist missing values: 0
Top Genre missing values: 0
Year missing values: 0
Month missing values: 0
Beats Per Minute (BPM) missing values: 0
Energy missing values: 0
Loudness (dB) missing values: 0
Liveness missing values: 0
Length (Duration) missing values: 0
Acousticness missing values: 0
Speechiness missing values: 0
Popularity missing values: 0

In [29]:
df['Year'] = df['Year'].astype(int)

In [30]:
df['date'] = df['Year'].astype(str) + '-' + df['Month'].astype(str) + '-' + '1'

In [31]:
df['date'] = pd.to_datetime(df['date'])

In [32]:
df['age'] = pd.to_datetime('2022-01-18') - df['date']

In [33]:
age = pd.Series([df['age'][i].days for i in range(len(df['age']))])

In [34]:
df['age'] = age

In [35]:
df.drop(['Year', 'Month', 'date'], axis=1, inplace=True)

In [36]:
df = pd.get_dummies(df, columns=['Top Genre'], drop_first=True)

In [37]:
df

,Title,Artist,Beats Per Minute (BPM),Energy,Loudness (dB),Liveness,Length (Duration),Acousticness,Speechiness,Popularity,...,Top Genre_reggae,Top Genre_reggae fusion,Top Genre_rock-and-roll,Top Genre_scottish singer-songwriter,Top Genre_soft rock,Top Genre_stomp and holler,Top Genre_streektaal,Top Genre_trance,Top Genre_uk pop,Top Genre_yacht rock
0,Sunrise,Norah Jones,157.0,30.0,-14.0,11.0,201.0,94.0,3.0,71.0,...,0,0,0,0,0,0,0,0,0,0
1,Black Night,Deep Purple,135.0,79.0,-11.0,17.0,207.0,17.0,7.0,39.0,...,0,0,0,0,0,0,0,0,0,0
2,Clint Eastwood,Gorillaz,168.0,69.0,-9.0,7.0,341.0,2.0,17.0,69.0,...,0,0,0,0,0,0,0,0,0,0
3,The Pretender,Foo Fighters,173.0,96.0,-4.0,3.0,269.0,0.0,4.0,76.0,...,0,0,0,0,0,0,0,0,0,0
4,Waitin' On A Sunny Day,Bruce Springsteen,106.0,82.0,-5.0,10.0,256.0,1.0,3.0,59.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1982,Heartbreak Hotel,Elvis Presley,94.0,21.0,-12.0,11.0,128.0,84.0,7.0,63.0,...,0,0,0,0,0,0,0,0,0,0
1983,Hound Dog,Elvis Presley,175.0,76.0,-8.0,76.0,136.0,73.0,6.0,69.0,...,0,0,0,0,0,0,0,0,0,0
1984,Johnny B. Goode,Chuck Berry,168.0,80.0,-9.0,31.0,162.0,74.0,7.0,74.0,...,0,0,0,0,0,0,0,0,0,0
1985,Take Five,The Dave Brubeck Quartet,174.0,26.0,-13.0,7.0,324.0,54.0,4.0,65.0,...,0,0,0,0,0,0,0,0,0,0
1986,Blueberry Hill,Fats Domino,133.0,50.0,-10.0,16.0,148.0,74.0,3.0,56.0,...,0,0,0,0,0,0,0,0,0,0

# Model Training

In [38]:
from sklearn.model_selection import train_test_split

In [39]:
X = df.drop("Popularity", axis=1)
y = df["Popularity"]

In [40]:
X_train_50, X_test_50, y_train_50, y_test_50 = train_test_split(X, y, test_size=0.30, random_state=50)
# Saved 1,20,50

In [41]:
X_train_50.describe()

,Beats Per Minute (BPM),Energy,Loudness (dB),Liveness,Length (Duration),Acousticness,Speechiness,age,Top Genre_acoustic pop,Top Genre_adult standards,...,Top Genre_reggae,Top Genre_reggae fusion,Top Genre_rock-and-roll,Top Genre_scottish singer-songwriter,Top Genre_soft rock,Top Genre_stomp and holler,Top Genre_streektaal,Top Genre_trance,Top Genre_uk pop,Top Genre_yacht rock
count,1390.000000,1390.000000,1390.000000,1390.000000,1390.000000,1390.000000,1390.000000,1390.000000,1390.000000,1390.000000,...,1390.000000,1390.000000,1390.000000,1390.0,1390.000000,1390.000000,1390.0,1390.000000,1390.0,1390.000000
mean,120.494582,59.399502,-9.046792,19.104359,261.728669,29.244425,4.992080,10476.146763,0.002158,0.060432,...,0.004317,0.002158,0.000719,0.0,0.000719,0.000719,0.0,0.000719,0.0,0.000719
std,28.386121,22.272173,3.643980,17.133530,93.289017,29.086240,4.416485,5954.585399,0.046424,0.238371,...,0.065582,0.046424,0.026822,0.0,0.026822,0.026822,0.0,0.026822,0.0,0.026822
min,15.000000,6.000000,-27.000000,2.000000,93.000000,0.000000,2.000000,779.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.000000
25%,100.000000,42.000000,-11.000000,9.000000,212.000000,4.000000,3.000000,5010.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.000000
50%,120.000000,60.000000,-8.000000,12.000000,245.000000,18.000000,4.000000,10519.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.000000
75%,135.000000,78.000000,-6.000000,22.000000,289.000000,50.000000,5.000000,15692.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.000000
max,297.000000,100.000000,-2.000000,99.000000,1367.000000,99.000000,55.000000,23911.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,0.0,1.000000,1.000000,0.0,1.000000,0.0,1.000000

In [42]:
X_test_50.describe()

,Beats Per Minute (BPM),Energy,Loudness (dB),Liveness,Length (Duration),Acousticness,Speechiness,age,Top Genre_acoustic pop,Top Genre_adult standards,...,Top Genre_reggae,Top Genre_reggae fusion,Top Genre_rock-and-roll,Top Genre_scottish singer-songwriter,Top Genre_soft rock,Top Genre_stomp and holler,Top Genre_streektaal,Top Genre_trance,Top Genre_uk pop,Top Genre_yacht rock
count,597.000000,597.000000,597.000000,597.000000,597.000000,597.000000,597.000000,597.000000,597.000000,597.000000,...,597.000000,597.000000,597.0,597.000000,597.0,597.0,597.000000,597.0,597.000000,597.0
mean,119.628926,60.245071,-8.936371,18.822479,264.683808,28.154104,4.989950,10351.435511,0.001675,0.061977,...,0.003350,0.001675,0.0,0.003350,0.0,0.0,0.001675,0.0,0.001675,0.0
std,29.143129,21.863494,3.664079,15.775118,94.701418,28.831081,4.384984,5731.671425,0.040927,0.241315,...,0.057831,0.040927,0.0,0.057831,0.0,0.0,0.040927,0.0,0.040927,0.0
min,60.000000,3.000000,-22.000000,3.000000,122.000000,0.000000,2.000000,779.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.0
25%,98.000000,44.000000,-11.000000,9.000000,212.000000,3.000000,3.000000,5527.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.0
50%,117.000000,63.000000,-9.000000,12.000000,250.000000,17.000000,4.000000,9910.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.0
75%,137.000000,77.000000,-6.000000,24.000000,291.000000,49.000000,5.000000,15237.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.0
max,305.000000,99.000000,-2.000000,99.000000,1412.000000,98.000000,39.000000,22938.000000,1.000000,1.000000,...,1.000000,1.000000,0.0,1.000000,0.0,0.0,1.000000,0.0,1.000000,0.0